@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(0px);
}

#root::before {
  content: '';
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
}

.white-text {
  color: #ffffff;
  text-align: center;
}